#estilo {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background: url('../siteEstacoes/Imagens/Fundo_Login.png') no-repeat bottom center scroll;
    background-position: 100%;
    background-size: cover;
}

#login .container #login-row #login-column #login-box {
    margin-top: 0px;
    max-width: 600px;
    height: 320px;
    color: white;
    border-radius: 100px 30px 20px 1px;
    background-color: #427AAF;
    background-position: 100%;
    background-size: cover;
    opacity: 0.8;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

#meuModal {
    color: black;
}

#input>* {
    height: 1.3em;
    float: left;
}

#input img {
    cursor: pointer;
}

a {
    color: aliceblue;
}